In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("data/dataset.csv")

In [30]:
city_n_purchased = df[["City", "Purchased"]]
purchased_from_city = city_n_purchased[city_n_purchased["Purchased"] == 1]
not_purchased_from_city = city_n_purchased[city_n_purchased["Purchased"] == 0]
not_purchased_from_city

         City  Purchased
0     Houston          0
2     Houston          0
3    New York          0
4     Houston          0
6     Houston          0
..        ...        ...
486   Houston          0
490   Phoenix          0
494   Chicago          0
495   Phoenix          0
497  New York          0

[233 rows x 2 columns]

In [31]:
cities = df["City"].unique()
cities

array(['Houston', 'Chicago', 'New York', 'Los Angeles', 'Phoenix'],
      dtype=object)